@import "../../styles.scss";


.side-img{
  height: calc(100vh - 0px);
}

.side-form{
  background-color: black;
  border-left: 1px solid white;
}

.login{
  color: $login-color;
  font-family: $login-font;
  font-size: 45px;
}

.formulario{
  margin-top: 35%;
  width: 80%;
}
.formulario2{
  margin-top: 25%;
  width: 80%;
}
.enter{
  padding-top: 15px;
  padding-bottom:15px;
}

.imp{
  border-top: none;
  background-color: black;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  &.imp:focus{
    color:white;
  }
  &.imp::placeholder{
    color:white;
  }
  &imp:active{
    color:white;
  }
}
.login-button{
  margin-top: 25px;
  padding: 8px;
  width: 100%;
  border-radius: 60px;
  color: white;
  background-color: black;
  border: 1px solid rgb(151, 151, 151);
  font-family: $login-font;
  font-size: 15px;
    &.login-button:hover{
      background-color: white;
      color: black;
      transition: .2s;
    }
}

.t{
  background-color: black;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
  color: white
}

.forgot-password{
  cursor: pointer;
}

// phone config
.phone{
  background: url('../../assets/images/login/image\ 9.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
}
.login-text{
  color: $login-color;
  font-family: $login-font;
  font-size: 35px;
  font-weight: bold;
}
.phone-form{
  margin-top: 110px;
}
.phone-imp{
  opacity: 0.9;
  background-color: rgb(117, 117, 117);
  color: white;
  border-right: none;
  border-top: none;
  border-radius: 0px;
  &.phone-imp:focus{
    color:white;
  }
  &.phone-imp::placeholder{
    color:white;
  }
  &.phone-imp:active{
    color:white;
  }
}
.phone-t{
  opacity: 0.9;
  background-color: rgb(117, 117, 117);
  color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
}
.phone-login-button{
  opacity: 0.9;
  padding: 10px;
  width: 100%;
  margin-top: 18px;
  border-radius: 60px;
  border: none
}


// efeito fadeIn
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  }
